body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: inline;

}


.icon img{
  position:absolute;
  top: -20px;
  left: -30px;
    
   border-radius: 100%;
  width: 120px;
  height: 120px;
  /* Add margin for spacing */
  z-index: 1;




}

.icon img:hover{

  color: white; 
 

  transform: scale(1.05); 

box-shadow: 0 0 10px white; 



}


ul,li{
  list-style: none;
}




.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #222; 
  
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}




.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ccc; 
}
.sidenav .closebtn:hover {
  color: #4eb19f;

  
}


#main {
  transition: margin-left .5s;
  padding: 0; /
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav input[type="text"] {width: 70%;}
}

.topnav {
  position: relative;
  width: 100%;

  overflow: hidden;
  background-color: #202121;
  padding: 0;
  border-bottom: 3px solid #ccc; /* Add a bottom border */
  text-align: center;
  justify-content: center;
}

.topnav a {
  position: relative;
  top: -9px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  display: block;
  float: right; 
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
margin-right: 7%;
  

}
.topnav button{
 background-color: #135C7E; /* Green */
 width: 180%; /* Set a fixed width */
 height: 30px;
  border: none;
  color: white;
 display: block;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  border-radius: 15px;



}
#leftList li{

float: left;
padding-left: 5%;

}
#leftList{
  position: relative;
  left: 0%;
}

#rightList{
  position: relative;
  top: 10px;
  left: 40px;
}


button:hover
{
 background-color:  #EBDFDF;
          color: black;
  transition: background-color 0.3s;
}


#map{
 position: absolute; 
 top: 0;
  bottom: 0; 
  left:0;
   right:0;
   width: 100%;
  z-index: -1;
}

.topnav a.active { 
  text-shadow: 0 0 4px #00FFFF;
 

}
#accommodation-list {
  max-height: 400px;
  overflow-y: auto;
}

.container {
 display: flex;
  }
 
.sidebar {
  display: table;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 100px;

  transition: width 0.5s ease;
  justify-content: center;
  align-items: center;
}    
.sidebar a {
display: block;
color: #fff;
            text-decoration: none;
            padding: 15px;
           
            transition: background-color 0.3s;
          
            border-bottom: 30px;
            border-color: white;
            font-size: 12px;
            
            font-family: sans-serif;
            font-stretch: condensed;
            text-transform: uppercase;
            font-weight: bold;
            color: #EBDFDF;
            cursor: pointer;



        }
 
        /* Change background color on hover */

        .sidebar a:hover {
          border-left: solid #135C7E 3px;
       transition: border 0.3s ease;
        } 
       

        #explore i{
         width: 15px;
         height: 15px;
          padding-right: 10%;

        }


        .sidebar img{
          display: block;
          height: 60px;
          width: 50px;
          padding-bottom: 30px;
          padding-left: 7px;
          

        }


@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Arialn.ttf') format('ttf');
      
  font-weight: normal;
  font-style: normal;
}

div.leaflet-ctrl-geocoder.leaflet-control {
            margin-right:  3vw;
            margin-top:15vh;
}
div.leaflet-control-zoom.leaflet-bar.leaflet-control{
            margin-left: 95vw;
            margin-top:85vh;
}





