<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="images/home_page/earth-globe (1).png">
</head>

<body>
    <div class="topnav">
        <img class="globe" src="images/about_images/earth-globe (1).png" alt="Earth icon">
        <a href="/"><button class="button1">Explore</button></a>
        <a href="/"><button>Home</button></a>
        <a href="/logout">
            <button>Log Out</button>
        </a>
    </div>
    <div class="content">
        <span> YOUR PASSPORT TO ADVENTURE AWAITS!</span>
    </div>

    <div class="vision">
        <p class="h1">Crafting Tomorrow's Journey, Today!</p>
        <p class="h2">We redefine travel to break boundaries, offering boundless exploration. Join us as we craft
            unforgettable journeys, turning dreams into reality.</p>
    </div>

    <p class="h1">Empower Your Travels with RoadTrippers</p>

    <div class="features">
        <div>
            <img class="icon" src="images/about_images/magnifying-glass.png" alt="Magnifying glass icon">
            <div class="features1">
                <p class="h3">Destinations Discovery</p>
                <p class="h4">Unveil Hidden Gems, Insider Tips & Curated Recommendations.</p>
            </div>

            <img class="icon2" src="images/about_images/accommodation.png" alt="House icon">
            <div class="features2">
                <p class="h3">Accommodation Oasis</p>
                <p class="h4">Find Your Home Away from Home, Instant Booking & Detailed Descriptions.</p>
            </div>

            <img class="icon3" src="images/about_images/airplane.png" alt="Plane icon">
            <div class="features3">
                <p class="h3">Flight Finder</p>
                <p class="h4">Soar to New Heights, Real-Time Updates & Exclusive Deals.</p>
            </div>

            <img class="icon4" src="images/about_images/bowling.png" alt="Bowling icon">
            <div class="features4">
                <p class="h3">Flight Finder</p>
                <p class="h4">Soar to New Heights, Real-Time Updates & Exclusive Deals.</p>
            </div>

            <img class="icon5" src="images/about_images/path.png" alt="Map icon">
            <div class="features5">
                <p class="h3">Flight Finder</p>
                <p class="h4">Soar to New Heights, Real-Time Updates & Exclusive Deals.</p>
            </div>

        </div>

        <img class="travel" src="images/about_images/Journey-amico.png" alt="Traveller image">

    </div>

    <div class="members">
        <p class="h1">Team Members</p>

        <div class="left-card">
            <img class="card-image" src="images/about_images/Somaya Ayman El Sayed.jpeg" alt="Member Image">
            <p class="h6">Somaya Ayman El Sayed</p>
            <p class="h7">2000423</p>
            <p class="h7">Awesome Frontend Developer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>
        <div class="card">
            <img class="card-image" src="images/about_images/Mennatallah Amr Ali.jpg" alt="Member Image">
            <p class="h6">Mennatallah Amr Ali</p>
            <p class="h7">2002111</p>
            <p class="h7">Awesome Frontend Develope</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="card">
            <img class="card-image" src="images/about_images/Maya Ahmed Abdullah Ali 2002124.jpg" alt="Member Image">
            <p class="h6">Maya Ahmed</p>
            <p class="h7">2002124</p>
            <p class="h7">Awesome Frontend Developer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="card">
            <img class="card-image" src="images/about_images/Eslam Mohamed Marzouk 2000252.jpg" alt="Member Image">
            <p class="h6">Eslam Mohamed</p>
            <p class="h7">2000252</p>
            <p class="h7">Awesome UI Designer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="left-card">
            <img class="card-image" src="images/about_images/Adham Khaled Abdelmaqsoud 2000066.jpeg" alt="Member Image">
            <p class="h6">Adham Khaled</p>
            <p class="h7">2000066</p>
            <p class="h7">Awesome UI Designer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="card">
            <img class="card-image" src="images\about_images\Marwan wael mahmoud abbas  2001244.jpg" alt="Member Image">
            <p class="h6">Marwan Wael</p>
            <p class="h7">2001244</p>
            <p class="h7">Awesome SW Engineer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="card">
            <img class="card-image" src="images/about_images/Mahmoud Abdelraouf_2001436.jpg" alt="Member Image">
            <p class="h6">Mahmoud Abdelraouf</p>
            <p class="h7">2001436</p>
            <p class="h7">Awesome System Programmer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="card">
            <img class="card-image" src="images/about_images/kimo.png" alt="Member Image">
            <p class="h6">Karim Ibrahim</p>
            <p class="h7">2001118</p>
            <p class="h7">Awesome SW Designer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="lleft-card">
            <img class="card-image" src="images/about_images/Ahmed Khaled Abdelmaskod 2000218.jpg" alt="Member Image">
            <p class="h6">Ahmed Khaled</p>
            <p class="h7">2000218</p>
            <p class="h7">Awesome Java Developer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>

        <div class="lright-card">
            <img class="card-image" src="images/about_images/Ahmed Mohammed Bakr 2000037.jpg" alt="Member Image">
            <p class="h6">Ahmed Bakr</p>
            <p class="h7">2000037</p>
            <p class="h7">Awesome Java Developer</p>
            <img class="card-icon" src="images/about_images/linkedIn.png" alt="linkedn icon">
            <img class="card-icon" src="images/about_images/Github.png" alt="github icon">
        </div>
    </div>

    <div class="contact">
        <p class="h1">Reach Out to RoadTrippers</p>

        <div class="left-card2">
            <img class="card-image2" src="images/about_images/envelope.png" alt="Member Image">
            <p class="h8">Email</p>
            <p class="h9">travelplanner123@example.com</p>
        </div>

        <div class="right-card2">
            <img class="card-image2" src="images/about_images/phone.png" alt="Member Image">
            <p class="h8">Phone</p>
            <p class="h9">+44 20 1234 5678</p>
        </div>
    </div>
    <div class="footer">
        <div class="links">
            <p class="h5">Links</p>
            <p class="h10">Home</p>
            <p class="h10">Explore</p>
            <p class="h10">Log Out</p>
        </div>

        <div class="help">
            <p class="h5">Help</p>
            <p class="h10">About Us</p>
            <p class="h10">Contact Us</p>
        </div>

        <div class="vertical-line"></div>

        <div class="help">
            <p class="h5">Legal Information</p>
            <p class="h10">Terms and Conditions</p>
            <p class="h10">Privacy Policy</p>
            <p class="h10">Copyright Law</p>
        </div>

    </div>
    <script src="../js/about.js"></script>
</body>

</html>