<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>

<body>
<div class="wrapper">
    <form class="login-box" method="post" action="/register">
        <div class="login-header">
            <span>Register</span>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" id="username" name="username" required>
            <label for="username" class="label">Username</label>
            <i class="bx bx-user icon"></i>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" id="password" name="password" required>
            <label for="password" class="label">Password</label>
            <i class="bx bx-lock-alt icon"></i>
        </div>
        <div class="input-box">
            <select class="input-field" id="city" name="city" required>
                    <option value="" disabled selected>Select City</option>
                    <option value="Cairo">Cairo</option>
                    <option value="Paris">Paris</option>
                    <option value="London">London</option>
            </select>
            <i class="bx bx-home-alt icon"></i>
        </div>
        <div class="input-box">
            <input type="submit" class="input-submit" value="register">
        </div>
        <div class="register">
                <span>
                    You have an account?
                    <a href="/login">login now</a>
                </span>
        </div>
    </form>
</div>
<script src="js/register.js"></script>
</body>

</html>